# dependencies
node_modules
.pnp
.pnp.js

# next
.next
out
build

# env
.env
.env*.local

# debug / logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# os / ide
.DS_Store
*.pem
.idea
.vscode/*
!.vscode/extensions.json

# prisma
prisma/*.db
prisma/*.db-journal
